<a href="https://colab.research.google.com/github/javierRM33/Evidencias-de-Clase/blob/main/Actividad_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
path = '/content/drive/MyDrive/Clase Minería/Tarea 9/Groceries_dataset.csv'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import plotly
import plotly.express as px
from sklearn.decomposition import PCA
from sklearn import preprocessing
from scipy import stats
plt.style.use('ggplot')

In [ ]:
df = pd.read_csv(path)
df

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [ ]:
#Establecemos la tabla pivote para hacer la suma de los productos individualmente hablando entre las semanas
pd.pivot_table(df,
               index = 'itemDescription',
               aggfunc='sum')

                       Member_number
itemDescription
Instant food products         189553
UHT-milk                      968421
abrasive cleaner               80144
artif. sweetener               89211
baby cosmetics                  8381
...                              ...
white bread                  1056092
white wine                    539575
whole milk                   7542654
yogurt                       3882446
zwieback                      183781

[167 rows x 1 columns]